.idea
.git
/04-script-01-bash/1.sh
/04-script-01-bash/2.sh
/04-script-01-bash/curl.log
/04-script-01-bash/error.log
/04-script-02-py/git_request.py
/04-script-02-py/ip_host_test.py
/.vscode/launch.json
/04-script-02-py/main.py
/04-script-02-py/test.py
/04-script-01-bash/tnc.log
05-virt-04-docker-compose/src/ansible/ansible.cfg
05-virt-04-docker-compose/src/ansible/inventory
05-virt-04-docker-compose/src/ansible/provision.yml
05-virt-04-docker-compose/src/ansible/stack/.env
05-virt-04-docker-compose/src/ansible/stack/docker-compose.yaml
05-virt-04-docker-compose/src/ansible/stack/alertmanager/config.yml
05-virt-04-docker-compose/src/ansible/stack/caddy/Caddyfile
05-virt-04-docker-compose/src/ansible/stack/exporters/docker-compose.exporters.yaml
05-virt-04-docker-compose/src/ansible/stack/grafana/provisioning/dashboards/dashboard.yml
05-virt-04-docker-compose/src/ansible/stack/grafana/provisioning/dashboards/general_docker_host.json
05-virt-04-docker-compose/src/ansible/stack/grafana/provisioning/dashboards/general_monitor_services.json
05-virt-04-docker-compose/src/ansible/stack/grafana/provisioning/datasources/datasource.yml
05-virt-04-docker-compose/src/ansible/stack/prometheus/alert.rules
05-virt-04-docker-compose/src/ansible/stack/prometheus/prometheus.yml
05-virt-04-docker-compose/src/packer/centos-7-base.json
05-virt-04-docker-compose/src/terraform/network.tf
05-virt-04-docker-compose/src/terraform/node01.tf
05-virt-04-docker-compose/src/terraform/output.tf
05-virt-04-docker-compose/src/terraform/provider.tf
05-virt-04-docker-compose/src/terraform/variables.tf
05-virt-04-docker-compose/assets/yc_01.png
05-virt-04-docker-compose/assets/yc_02.png
04-script-03-yaml/import sys.py
05-virt-04-docker-compose/src/terraform/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.66.0/windows_amd64/CHANGELOG.md
05-virt-04-docker-compose/src/terraform/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.66.0/windows_amd64/LICENSE
05-virt-04-docker-compose/src/terraform/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.66.0/windows_amd64/README.md
05-virt-04-docker-compose/src/terraform/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.66.0/windows_amd64/terraform-provider-yandex_v0.66.0.exe
