.DS_Store
.idea/
.idea
.git
/04-script-01-bash/1.sh
/04-script-01-bash/2.sh
/04-script-01-bash/curl.log
/04-script-01-bash/error.log
/04-script-02-py/git_request.py
/04-script-02-py/ip_host_test.py
/.vscode/launch.json
/04-script-02-py/main.py
/04-script-02-py/test.py
/04-script-01-bash/tnc.log
05-virt-04-docker-compose/src/ansible/ansible.cfg
05-virt-04-docker-compose/src/ansible/inventory
05-virt-04-docker-compose/src/ansible/provision.yml
05-virt-04-docker-compose/src/ansible/stack/.env
05-virt-04-docker-compose/src/ansible/stack/docker-compose.yaml
05-virt-04-docker-compose/src/ansible/stack/alertmanager/config.yml
05-virt-04-docker-compose/src/ansible/stack/caddy/Caddyfile
05-virt-04-docker-compose/src/ansible/stack/exporters/docker-compose.exporters.yaml
05-virt-04-docker-compose/src/ansible/stack/grafana/provisioning/dashboards/dashboard.yml
05-virt-04-docker-compose/src/ansible/stack/grafana/provisioning/dashboards/general_docker_host.json
05-virt-04-docker-compose/src/ansible/stack/grafana/provisioning/dashboards/general_monitor_services.json
05-virt-04-docker-compose/src/ansible/stack/grafana/provisioning/datasources/datasource.yml
05-virt-04-docker-compose/src/ansible/stack/prometheus/alert.rules
05-virt-04-docker-compose/src/ansible/stack/prometheus/prometheus.yml
05-virt-04-docker-compose/src/packer/centos-7-base.json
05-virt-04-docker-compose/src/terraform/network.tf
05-virt-04-docker-compose/src/terraform/node01.tf
05-virt-04-docker-compose/src/terraform/output.tf
05-virt-04-docker-compose/src/terraform/provider.tf
05-virt-04-docker-compose/src/terraform/variables.tf
05-virt-04-docker-compose/assets/yc_01.png
05-virt-04-docker-compose/assets/yc_02.png
04-script-03-yaml/import sys.py
05-virt-04-docker-compose/src/terraform/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.66.0/windows_amd64/CHANGELOG.md
05-virt-04-docker-compose/src/terraform/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.66.0/windows_amd64/LICENSE
05-virt-04-docker-compose/src/terraform/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.66.0/windows_amd64/README.md
05-virt-04-docker-compose/src/terraform/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.66.0/windows_amd64/terraform-provider-yandex_v0.66.0.exe
05-virt-04-docker-compose/README.md
05-virt-04-docker-compose/src/terraform/.terraform.lock.hcl
05-virt-04-docker-compose/src/terraform/key.json
05-virt-04-docker-compose/src/terraform/terraform.tfstate
05-virt-04-docker-compose/src/terraform/terraform.tfstate.backup
05-virt-04-docker-compose/src2/ansible/ansible.cfg
05-virt-04-docker-compose/src2/ansible/inventory
05-virt-04-docker-compose/src2/ansible/provision.yml
05-virt-04-docker-compose/src2/ansible/stack/.env
05-virt-04-docker-compose/src2/ansible/stack/docker-compose.yaml
05-virt-04-docker-compose/src2/ansible/stack/alertmanager/config.yml
05-virt-04-docker-compose/src2/ansible/stack/caddy/Caddyfile
05-virt-04-docker-compose/src2/ansible/stack/exporters/docker-compose.exporters.yaml
05-virt-04-docker-compose/src2/ansible/stack/grafana/provisioning/dashboards/dashboard.yml
05-virt-04-docker-compose/src2/ansible/stack/grafana/provisioning/dashboards/general_docker_host.json
05-virt-04-docker-compose/src2/ansible/stack/grafana/provisioning/dashboards/general_monitor_services.json
05-virt-04-docker-compose/src2/ansible/stack/grafana/provisioning/datasources/datasource.yml
05-virt-04-docker-compose/src2/ansible/stack/prometheus/alert.rules
05-virt-04-docker-compose/src2/ansible/stack/prometheus/prometheus.yml
05-virt-04-docker-compose/src2/packer/images.txt
05-virt-04-docker-compose/src2/packer/ubuntu-2004-lts-base.json
05-virt-04-docker-compose/src2/terraform/network.tf
05-virt-04-docker-compose/src2/terraform/node01.tf
05-virt-04-docker-compose/src2/terraform/output.tf
05-virt-04-docker-compose/src2/terraform/provider.tf
05-virt-04-docker-compose/src2/terraform/variables.tf
05-virt-04-docker-compose/src2/terraform/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.66.0/windows_amd64/CHANGELOG.md
05-virt-04-docker-compose/src2/terraform/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.66.0/windows_amd64/LICENSE
05-virt-04-docker-compose/src2/terraform/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.66.0/windows_amd64/README.md
05-virt-04-docker-compose/src2/terraform/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.66.0/windows_amd64/terraform-provider-yandex_v0.66.0.exe
05-virt-05-docker-swarm/src/ansible/swarm-deploy-cluster.yml
05-virt-05-docker-swarm/src/ansible/swarm-deploy-stack.yml
05-virt-05-docker-swarm/src/ansible/swarm-deploy-sync.yml
05-virt-05-docker-swarm/src/ansible/monitoring/docker-compose.yml
05-virt-05-docker-swarm/src/ansible/monitoring/alertmanager/Dockerfile
05-virt-05-docker-swarm/src/ansible/monitoring/alertmanager/conf/alertmanager.yml
05-virt-05-docker-swarm/src/ansible/monitoring/alertmanager/conf/docker-entrypoint.sh
05-virt-05-docker-swarm/src/ansible/monitoring/caddy/Caddyfile
05-virt-05-docker-swarm/src/ansible/monitoring/dockerd-exporter/Caddyfile
05-virt-05-docker-swarm/src/ansible/monitoring/grafana/Dockerfile
05-virt-05-docker-swarm/src/ansible/monitoring/grafana/swarmprom_dashboards.yml
05-virt-05-docker-swarm/src/ansible/monitoring/grafana/dashboards/swarmprom-nodes-dash.json
05-virt-05-docker-swarm/src/ansible/monitoring/grafana/dashboards/swarmprom-prometheus-dash.json
05-virt-05-docker-swarm/src/ansible/monitoring/grafana/dashboards/swarmprom-services-dash.json
05-virt-05-docker-swarm/src/ansible/monitoring/grafana/datasources/prometheus.yaml
05-virt-05-docker-swarm/src/ansible/monitoring/node-exporter/Dockerfile
05-virt-05-docker-swarm/src/ansible/monitoring/node-exporter/conf/docker-entrypoint.sh
05-virt-05-docker-swarm/src/ansible/monitoring/prometheus/Dockerfile
05-virt-05-docker-swarm/src/ansible/monitoring/prometheus/conf/docker-entrypoint.sh
05-virt-05-docker-swarm/src/ansible/monitoring/prometheus/conf/prometheus.yml
05-virt-05-docker-swarm/src/ansible/monitoring/prometheus/conf/weave-cortex.yml
05-virt-05-docker-swarm/src/ansible/monitoring/prometheus/rules/swarm_node.rules.yml
05-virt-05-docker-swarm/src/ansible/monitoring/prometheus/rules/swarm_task.rules.yml
05-virt-05-docker-swarm/src/ansible/roles/configure-hosts-file/tasks/main.yml
05-virt-05-docker-swarm/src/ansible/roles/docker-installation/tasks/main.yml
05-virt-05-docker-swarm/src/ansible/roles/docker-swarm-add-manager/tasks/main.yml
05-virt-05-docker-swarm/src/ansible/roles/docker-swarm-add-worker/tasks/main.yml
05-virt-05-docker-swarm/src/ansible/roles/docker-swarm-init/tasks/main.yml
05-virt-05-docker-swarm/src/ansible/roles/docker-swarm-leave/tasks/main.yml
05-virt-05-docker-swarm/src/ansible/roles/install-tools/tasks/main.yml
05-virt-05-docker-swarm/src/packer/centos-7-base.json
05-virt-05-docker-swarm/src/terraform/ansible.cfg
05-virt-05-docker-swarm/src/terraform/ansible.tf
05-virt-05-docker-swarm/src/terraform/inventory.tf
05-virt-05-docker-swarm/src/terraform/key.json
05-virt-05-docker-swarm/src/terraform/network.tf
05-virt-05-docker-swarm/src/terraform/node01.tf
05-virt-05-docker-swarm/src/terraform/node02.tf
05-virt-05-docker-swarm/src/terraform/node03.tf
05-virt-05-docker-swarm/src/terraform/node04.tf
05-virt-05-docker-swarm/src/terraform/node05.tf
05-virt-05-docker-swarm/src/terraform/node06.tf
05-virt-05-docker-swarm/src/terraform/output.tf
05-virt-05-docker-swarm/src/terraform/provider.tf
05-virt-05-docker-swarm/src/terraform/variables.tf
05-virt-05-docker-swarm/src/terraform/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.66.0/windows_amd64/CHANGELOG.md
05-virt-05-docker-swarm/src/terraform/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.66.0/windows_amd64/LICENSE
05-virt-05-docker-swarm/src/terraform/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.66.0/windows_amd64/README.md
05-virt-05-docker-swarm/src/terraform/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.66.0/windows_amd64/terraform-provider-yandex_v0.66.0.exe
05-virt-04-docker-compose/src2/network.tf
05-virt-04-docker-compose/src2/ansible/stack/prometheus/centos@51.250.4.97
05-virt-04-docker-compose/src2/terraform/.terraform.lock.hcl
05-virt-04-docker-compose/src2/terraform/key.json
05-virt-04-docker-compose/src2/terraform/network.tf.bkp
05-virt-04-docker-compose/src2/terraform/node02.tf
05-virt-04-docker-compose/src2/terraform/terraform.tfstate
05-virt-04-docker-compose/src2/terraform/terraform.tfstate.backup
05-virt-04-docker-compose/src2/terraform/Untitled-1.sh
.gitignore
05-virt-04-docker-compose/src/ansible/stack/docker-compose.yaml copy.bkp
05-virt-04-docker-compose/src/ansible/stack/docker-compose.yaml.bkp
05-virt-05-docker-swarm/src/ansible/inventory
05-virt-05-docker-swarm/src/ansible/swarm-deploy-cluster.yml.bkp
05-virt-05-docker-swarm/src/ansible/swarm-deploy-sync.yml.bkp
05-virt-05-docker-swarm/src/terraform/.terraform.lock.hcl
05-virt-05-docker-swarm/src/terraform/ansible.tf.bkp
05-virt-05-docker-swarm/src/terraform/terraform.tfstate
05-virt-05-docker-swarm/src/terraform/terraform.tfstate.backup
05-virt-05-docker-swarm/src/terraform/.terraform/providers/registry.terraform.io/hashicorp/local/2.1.0/linux_amd64/terraform-provider-local_v2.1.0_x5
05-virt-05-docker-swarm/src/terraform/.terraform/providers/registry.terraform.io/hashicorp/local/2.1.0/windows_amd64/terraform-provider-local_v2.1.0_x5.exe
05-virt-05-docker-swarm/src/terraform/.terraform/providers/registry.terraform.io/hashicorp/null/3.1.0/linux_amd64/terraform-provider-null_v3.1.0_x5
05-virt-05-docker-swarm/src/terraform/.terraform/providers/registry.terraform.io/hashicorp/null/3.1.0/windows_amd64/terraform-provider-null_v3.1.0_x5.exe
05-virt-05-docker-swarm/src/terraform/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.66.0/linux_amd64/CHANGELOG.md
05-virt-05-docker-swarm/src/terraform/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.66.0/linux_amd64/LICENSE
05-virt-05-docker-swarm/src/terraform/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.66.0/linux_amd64/README.md
05-virt-05-docker-swarm/src/terraform/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.66.0/linux_amd64/terraform-provider-yandex_v0.66.0
06-db-02-sql/.PG/*.*
06-db-02-sql/.PG/bkp/test_db.dump
06-db-03-mysql/mysql/*.*
06-db-03-mysql/test_data/*.*
06-db-03-mysql/mysql/data/#ib_16384_0.dblwr
06-db-03-mysql/README.md
.gitignore
06-db-03-mysql/mysql/data/*
06-db-05-elasticsearch/elasticsearch-7.16.0/*

06-db-05-elasticsearch/elasticsearch-7.16.0-linux-x86_64.tar.gz
07-terraform-02-syntax/terraform/yc
07-terraform-02-syntax/terraform/aws/.*
07-terraform-02-syntax/terraform/aws/terraform*
07-terraform-02-syntax/terraform/aws/environment
08-ansible-02-playbook/terraform/.terraform/*
08-ansible-02-playbook/terraform/terraform*
08-ansible-02-playbook/terraform/.terraform*
08-ansible-02-playbook/terraform/cloud_config.yaml
08-ansible-03-yandex/terraform/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.71.0/linux_amd64/LICENSE
.gitignore
08-ansible-03-yandex/terraform/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.61.0/linux_amd64/README.md
08-ansible-03-yandex/terraform/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.71.0/linux_amd64/CHANGELOG.md
08-ansible-03-yandex/terraform/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.71.0/linux_amd64/README.md
09-ci-03-cicd/terraform/cloud_config.yaml
09-ci-03-cicd/terraform/terraform.tfstate
09-ci-03-cicd/terraform/terraform.tfstate.backup
09-ci-03-cicd/terraform/main.tf.bkp
09-ci-03-cicd/example/.scannerwork/report-task.txt
09-ci-04-jenkins/terraform/.terraform.tfstate.lock.info
09-ci-04-jenkins/terraform/terraform.tfstate.backup
09-ci-04-jenkins/terraform/terraform.tfstate
